@charset "utf-8";
/* CSS Document */
header{
	background-color:#333;
	border-bottom:double 3px rgb(3, 83, 30);
	font-family: Arial, Helvetica, sans-serif;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	padding:5px 10px 5px 10px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.29,rgb(3, 83, 30)),
		color-stop(0.78,rgb(3, 83, 30)),
		color-stop(1,rgb(3, 83, 30))
	);
	background-image: -o-linear-gradient(bottom, rgb(3, 83, 30) 29%,rgb(3, 83, 30) 78%,rgb(3, 83, 30) 100%);
	background-image: -moz-linear-gradient(bottom,rgb(3, 83, 30)29%,rgb(3, 83, 30) 78%,rgb(3, 83, 30) 100%);
	background-image: -webkit-linear-gradient(bottom,rgb(3, 83, 30) 29%,rgb(3, 83, 30) 78%,rgb(3, 83, 30) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(3, 83, 30) 29%, rgb(3, 83, 30) 78%, rgb(3, 83, 30) 100%);
	background-image: linear-gradient(to bottom, rgb(3, 83, 30) 29%, rgb(3, 83, 30) 78%, rgb(3, 83, 30)100%);
	overflow:auto;
	z-index:88;
	-webkit-box-shadow: 0 4px 4px -2px #333;
	-moz-box-shadow: 0 4px 4px -2px #333;
   	box-shadow: 0 4px 4px -2px #333;
}
a{
	text-decoration: none; !important
}
.icon-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #333333;
	background: #dddddd;
	border: none;
	outline: none;
	border-radius: 50%;
  }
  
  .icon-button:hover {
	cursor: pointer;
  }
  
  .icon-button:active {
	background: #cccccc;
  }
  
  .icon-button__badge {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: red;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
  }

header .topmenu{
	float: left;
	font-size: 16px;
	padding-top:5px; 	
	
}
header .left-logo, header .text-logo{
	float: left;
}

header .text-logo{
	width: 140px;
}
.text-logo p
{
	margin-top:11px;
	margin-bottom:5px;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;

}
.topmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
.topmenu li {
	float: left;
  }
  
.topmenu li {
	display: block;
	color: white;
	text-align: center;
	padding: 5px;
	text-decoration: none;
  }
.topmenu li:hover {
	color: #F6770C;
	font-weight: bold;
  }
.topmenu li.pilih {
	color: #F6770C;
	font-weight: bold;
  }
.topmenu p{
	float:left;
	margin-top:10px;
	margin-bottom:5px;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
}

.logo{
	float: right;
	padding-top:5px;
	margin-left:6px;
}
#logo{
	float:left;
	padding-top:5px;
	margin-left:0px;
	margin-right:5px;
	height:45px;
}

.logo p{
	margin-top:12px;
	margin-bottom:5px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}
#judulapp{
	float:left;
	padding:10px;
	font-weight:bold;
	color:#FFF;
	text-shadow:1px 1px 1px #333;
}
#judulapp namaapp{
	display:block;
	font-size:24px;
}
#judulapp namamesjid{
	font-style:italic;
}
/*konfirmasi*/
#konfirmasi{
	display: none;
	z-index: 100;
	position:fixed;
	left:0;
	right:0;
	margin:auto;
	padding:20px;
	border-radius: 10px;
	width: 76%;
	min-height: 300px;
	background: #ffffff;
	-moz-box-shadow:    inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
	overflow: auto;   
	
	
}
/*for menu*/
menu{
	/*position:fixed;
	left:0px;
	-webkit-box-shadow:2px 2px 9px #111; /* Safari & Chrome */
  	/*-moz-box-shadow:2px 2px 9px #111;   /* Firefox */
  	/*box-shadow:2px 2px 9px #111;
	z-index:87;
	/*background-color: rgb(136, 182, 250);*/
	overflow:visible;
	/*top:0px;
	bottom:0px;
	padding:80px 10px 5px 10px;
	*/
}
.icon-menu{
	height: 20px;
	margin-right: 5px;
}
#menu2{
	position:fixed;
	left:0px;
	-webkit-box-shadow:2px 2px 9px #111; /* Safari & Chrome */
  	-moz-box-shadow:2px 2px 9px #111;   /* Firefox */
  	box-shadow:2px 2px 9px #111;
	z-index:87;
	background-color: rgb(3, 83, 30);
	top:0px;
	bottom:20px;
	padding:70px 10px 5px 10px;
	


}

#menu2 li a{
	color:white;
}
#menu2 li{
	padding:5px 5px 5px 5px;
	margin-bottom:7px;
	border-radius:5px;
	color:white;
	width:100%;
	list-style:none;
	
	background-image: -o-linear-gradient(bottom, #F6770C 29%,rgba(246, 117, 12, 0.795)78%,#F6770C 100%);
	background-image: -moz-linear-gradient(bottom,#F6770C 29%,rgba(246, 117, 12, 0.795)78%,#F6770C 100%);
	background-image: -webkit-linear-gradient(bottom,#F6770C 29%,rgba(246, 117, 12, 0.795)78%,#F6770C 100%);
	background-image: -ms-linear-gradient(bottom, #F6770C 29%,rgba(246, 117, 12, 0.795)78%,#F6770C 100%);
	background-image: linear-gradient(to bottom, #F6770C 29%,rgba(246, 117, 12, 0.795)78%,#F6770C 100%);
	left:0px;
	-webkit-box-shadow:2px 2px 6px #666; /* Safari & Chrome */
  	-moz-box-shadow:2px 2px 6px #666;   /* Firefox */
  	box-shadow:2px 2px 6px #666;
}
#menu2 li.pilih{
	-webkit-box-shadow:2px 2px 4px #333; /* Safari & Chrome */
  	-moz-box-shadow:2px 2px 4px #333;   /* Firefox */
  	box-shadow:2px 2px 4px #333;
	color:#FFF;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.29, #00B95C),
		color-stop(0.78, #00BF60),
		color-stop(1, #00A653)
	);
	background-image: -o-linear-gradient(bottom, rgba(3, 83, 30, 0.74) 29%,rgba(3, 83, 30, 0.527) 78%,rgba(3, 83, 30, 0.527) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(3, 83, 30, 0.74) 29%,rgba(3, 83, 30, 0.527) 78%,rgba(3, 83, 30, 0.527) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(3, 83, 30, 0.74) 29%,rgba(3, 83, 30, 0.527) 78%,rgba(3, 83, 30, 0.527) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(3, 83, 30, 0.74) 29%,rgba(3, 83, 30, 0.527) 78%,rgba(3, 83, 30, 0.527) 100%);
	background-image: linear-gradient(bottom, rgba(3, 83, 30, 0.74) 29%,rgba(3, 83, 30, 0.527) 78%,rgba(3, 83, 30, 0.527) 100%);
	
}
#menu2 li:not(.pilih):hover{
	cursor:pointer;
	color:#FFF;

	background-image: -o-linear-gradient(bottom, rgba(246, 117, 12, 0.774) 29%,rgba(246, 117, 12, 0.582)78%,rgba(246, 117, 12, 0.616) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(246, 117, 12, 0.774) 29%,rgba(246, 117, 12, 0.582)78%,rgba(246, 117, 12, 0.616) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(246, 117, 12, 0.774) 29%,rgba(246, 117, 12, 0.582)78%,rgba(246, 117, 12, 0.616) 100%);
	background-image: -ms-linear-gradient(bottom,  rgba(246, 117, 12, 0.774) 29%,rgba(246, 117, 12, 0.582)78%,rgba(246, 117, 12, 0.616) 100%);
	background-image: linear-gradient(bottom,  rgba(246, 117, 12, 0.774) 29%,rgba(246, 117, 12, 0.582)78%,rgba(246, 117, 12, 0.616) 100%);
	
}
#menu2 #keterangan h4{
	margin:0px 0px 5px 0px;
	background-color:rgb(3, 83, 30);
	color:#FFF;
	border-radius:5px;
	padding:5px;
	font-size:15px;
}
#menu2 #keterangan{
	
	background-color:#FFF;
	font-size:100%;
	padding:10px;
	margin:5px 5px 10px 5px;
	width: 150px;
	text-align:center;
	border-radius:5px;
	-moz-box-shadow:    inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
}
#menu2 #keterangan table{
	font-size:80%;
	text-align: left;
	width: 100%;
}
#menu2 #keterangan data{
	padding:2px;
	display:block;
	text-align:left;
	font-size:14px;
	color:#555;
	font-weight:bold;
}
#menu2 #keterangan data:last-child{
	border-top:solid 1px #AAA;
	margin-top:5px;
	padding-top:5px;
}
#menu2 #keterangan dataval{
	float:right;
	text-align:right;
	
	padding-top:2px;
}

#menu2 #keterangan #loadket label{
	display:block;
	text-align:center;
	color:rgb(3, 83, 30);
	
}
/*footer*/
footer{
	z-index:100;
	-webkit-box-shadow: 0 -4px 4px -2px #333;
	-moz-box-shadow: 0 4px 4px -2px #333;
   	box-shadow: 0 -4px 4px -2px #333;
	font-style:italic;
	border-top:double 3px #777;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.29, rgb(3, 83, 30) ),
		color-stop(0.78, rgb(3, 83, 30) ),
		color-stop(1, rgb(3, 83, 30) )
	);
	background-image: -o-linear-gradient(bottom, rgb(3, 83, 30) 29%,rgb(3, 83, 30) 78%,rgb(3, 83, 30) 100%);
	background-image: -moz-linear-gradient(bottom,rgb(3, 83, 30)29%,rgb(3, 83, 30) 78%,rgb(3, 83, 30) 100%);
	background-image: -webkit-linear-gradient(bottom,rgb(3, 83, 30) 29%,rgb(3, 83, 30) 78%,rgb(3, 83, 30) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(3, 83, 30) 29%, rgb(3, 83, 30) 78%, rgb(3, 83, 30) 100%);
	background-image: linear-gradient(to bottom, rgb(3, 83, 30) 29%, rgb(3, 83, 30) 78%, rgb(3, 83, 30)100%);
	
	position:fixed;
	left:0px;
	bottom:0px;
	right:0px;
	padding:5px 10px 5px 10px;
	color:#FFF;
	font-size:11px;
}
